extends ../template/base

block content 
  .container
    p.col-left.main-title.txt-gray.margin-top Кількість картин на сайті: [ активних: #{picture_count}; прихованих: #{hidden_count}], кількість користувачів: #{user_count}
    p.col-left.modal-title.margin-top Картини на перевірку
    if pictures_to_confirm.length > 0
      .gallery-grid 
        each item in pictures_to_confirm
          form.form-center.border-gray.reject-picture.table-picture
            input.hidden(type='text' name='id' value=`${item.id}`)
            .row-center 
              .col-right
                p.modal-desc Демо версія:
                img.table-picture-img(src= `/imgs/pictures/demo/${item.demo}`)
                p.modal-desc Повна версія:
                img.table-picture-img(src=`/imgs/pictures/full/${item.image}`)
              .col-left
                p.modal-desc Назва:
                p.modal-info= item.name
                p.modal-desc Художник:
                p.modal-info= item.artist.name
                  | 
                  span.modal-desc= `(${item.artist.email})`
                p.modal-desc Категорія:
                p.modal-info= item.category.name
                p.modal-desc Формат:
                p.modal-info= item.format
                p.modal-desc Ціна:
                p.modal-info= `${item.price}$`
                p.modal-desc Дата додавання:
                p.modal-info= (new Date(item.adding_date).toLocaleDateString('uk-UA', {day: 'numeric', month: 'long', year: 'numeric'}))
                if item.tags.length > 0
                  p.modal-desc Теги:
                  .modal-tags
                    for tag in item.tags
                      p.modal-info= tag.name
            .form-box
              label.label(for='name') Повідомлення
              input(type='text' name='message' placeholder='Щось не влаштовує в цій публікації' required)
            .row-space-between
              input.btn(type='submit' name='submit' value='Відхилити') 
              p.btn.accent.confirm-picture(data-id=`${item.id}`) Погодити 

    else 
      p.desc.row-center Картин немає

    p.col-left.modal-title.margin-top Категорії
    p.desc.txt-red#category-msg

    .gallery-grid 
      each item in categories
        form.form-center.border-gray.edit-category
          p.desc.col-left Редагування:
          input.hidden(type='text' name='id' value=`${item.id}`)
          .form-box
            label.label(for='name') Назва
            input(type='text' name='name' value=`${item.name}`)
          .row-space-between
            if item.number_of_pictures > 0
              p.btn.disabled використовується 
            else
              p.btn.delete-category(data-id=`${item.id}`) Видалити
            input.btn.accent(type='submit' value='Редагувати') 

      form.form-center.border-yellow#add-category
        p.desc.col-left Додавання:
        .form-box
          label.label(for='name') Назва
          input(type='text' name='name' placeholder='Нова категорія')

        .col-right
          input.btn.accent(type='submit' value='Додати') 


    p.col-left.modal-title.margin-top Теги
    p.desc.txt-red#tag-msg

    .gallery-grid 
      each item in tags
        form.form-center.border-gray.edit-tag
          p.desc.col-left Редагування:
          input.hidden(type='text' name='id' value=`${item.id}`)
          .form-box
            label.label(for='name') Назва
            input(type='text' name='name' value=`${item.name}`)
          .row-space-between
            if item.number_of_pictures > 0
              p.btn.disabled використовується 
            else
              p.btn.delete-tag(data-id=`${item.id}`) Видалити
            input.btn.accent(type='submit' name='submit' value='Редагувати') 

      form.form-center.border-yellow#add-tag
        p.desc.col-left Додавання:
        .form-box
          label.label(for='name') Назва
          input(type='text' name='name' placeholder='Новий тег')
        .col-right
          input.btn.accent(type='submit' name='submit' value='Додати') 