extends template/base

block content
	.container-row
		include sidebar

		.container
			if pictures.length > 0
				.gallery-grid
					each item in pictures
						.picture-mini-card
							p.desc Тицяй
							img.img.border-gray(src=`/imgs/pictures/demo/${item.demo}`)

							div.modal
								div.modal-content
									span.close &times;
									.col-left
										p.modal-title= item.name
									.row-top
										img.modal-img(src=`/imgs/pictures/demo/${item.demo}`)
										.col-left
											p.modal-desc Художник:
											p.modal-info= item.artist.name
												| 
												span.modal-desc= `(${item.artist.email})`
											p.modal-desc Категорія:
											p.modal-info= item.category.name
											p.modal-desc Дата додавання:
											p.modal-info= (new Date(item.adding_date).toLocaleDateString('uk-UA', {day: 'numeric', month: 'long', year: 'numeric'}))
											if item.tags.length > 0
												p.modal-desc Теги:
												.modal-tags
													for tag in item.tags
														p.modal-info= tag.name
									.row-space-between
										.row-left.txt-green
											span.modal-desc Ціна:
											span.modal-info #{item.price}$
										if user
											if item.artist.id === user.id
												p.btn.disabled Ви не можете купити власну картину
											else if user.role === 'admin'
												p.btn.disabled Ви не можете купувати картини
											else if user.bought.some(e=>e.picture_id.toString() == item.id)
												a.btn.accent(href=`/imgs/pictures/full/${item.image}` download=`${item.name}.jpg`) Завантажити
											else 
												p.btn.accent.buy-picture(data-id=item.id) Придбати
										else 
											p.btn.disabled Авторизуйтесь, щоб купити

			else 
				.col-center
					p.modal-txt По даному запиту нічого не знайдено 
					.question-mark.margin-top

			fieldset.row-center
				if query.page > 1
					input.arrow.active.border-gray(type='submit' name='prev_page' value='⇠' form='main-form')
				input.mini-input.border-gray.border-gray(type='text' name='page' value=query.page ? query.page : '1' form='main-form' readonly)
				|/
				input.mini-input.border-gray.border-gray(type='text' name='max_pages' value=query.max_pages form='main-form' readonly)

				if query.page < query.max_pages
					input.arrow.active.border-gray(type='submit' name='next_page' value='⇢' form='main-form')