extends template/base

block content
	.container-row
		include sidebar

		.container
			if pictures.length > 0
				.gallery-grid
					each item in pictures
						.picture-mini-card
							p.desc Тицяй
							img.img.border-gray(src=`/imgs/pictures/demo/${item.demo}`)

							div.modal
								div.modal-content
									span.close &times;
									.col-left
										.row
											if user && user.id != item.artist.id && user.role != 'admin'
												div.con-like
													input.like(title='like' type='checkbox')
													div.checkmark
														svg.outline(viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
															path(d='M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z')
														svg.filled(viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
															path(d='M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z')
														svg.celebrate(width='100' height='100' xmlns='http://www.w3.org/2000/svg')
															polygon.poly(points='10,10 20,20')
															polygon.poly(points='10,50 20,50')
															polygon.poly(points='20,80 30,70')
															polygon.poly(points='90,10 80,20')
															polygon.poly(points='90,50 80,50')
															polygon.poly(points='80,80 70,70')
											else
												div.con-like.disabled
													input.like(title='like' type='checkbox' checked disabled)
													div.checkmark
														svg.outline(viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
															path(d='M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z')
														svg.filled(viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
															path(d='M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z')

											p.modal-title= item.name
										.row-top
											img.modal-img(src=`/imgs/pictures/demo/${item.demo}`)
											.col-left
												p.modal-desc Художник:
												p.modal-info= item.artist.name
													| 
													span.modal-desc= `(${item.artist.email})`
												p.modal-desc Категорія:
												p.modal-info= item.category.name
												p.modal-desc Дата додавання:
												p.modal-info= (new Date(item.adding_date).toLocaleDateString('uk-UA', {day: 'numeric', month: 'long', year: 'numeric'}))
												if item.tags.length > 0
													p.modal-desc Теги:
													.modal-tags
														for tag in item.tags
															p.modal-info= tag.name

										.row-space-between
											.row-left.txt-green
												span.modal-desc Ціна:
												span.modal-info #{item.price}$
											if user
												if item.artist.id === user.id
													p.btn.disabled Ви не можете купити власну картину
												else if user.role === 'admin'
													p.btn.disabled Ви не можете купувати картини
												else if user.bought.some(e=>e.picture._id.toString() === item.id)
													a.btn.accent(href=`/imgs/pictures/full/${item.image}` download=`${item.name}.jpg`) Завантажити
												else 
													p.btn.accent.buy-picture(data-id=item.id) Придбати
											else 
												p.btn.disabled Авторизуйтесь, щоб купити
			else 
				.col-center
					p.modal-txt По даному запиту нічого не знайдено 
					.question-mark.margin-top

			fieldset.row-center
				if query.page > 1
					input.arrow.active.border-gray(type='submit' name='prev_page' value='⇠' form='main-form')
				input.mini-input.border-gray.border-gray(type='text' name='page' value=query.page ? query.page : '1' form='main-form' readonly)
				|/
				input.mini-input.border-gray.border-gray(type='text' name='max_pages' value=query.max_pages form='main-form' readonly)

				if query.page < query.max_pages
					input.arrow.active.border-gray(type='submit' name='next_page' value='⇢' form='main-form')