block sidebar 
  .sidebar.col-center

    form.form-center(method='post')
      p.desc Пошук (незалежно від решти параметрів):
        .form-box
          label.label(for="name") За назвою
          .row-center
            input(type='text' name='name' placeholder='засніжені гори')
            input.btn.accent(type='submit' name='submit' value='✔') 

    .margin-top
    form.form-center(method="post") 
      p.desc Фільтрування:
      .form-box
        label.label(for="category") Категорія
        .row-center
          select(name="category")
            option(value="") усі картини
            each item in categories
              if item.number_of_pictures > 0
                option(value=`${item._id}`)= item.name
          span &#8628

      .form-box
        label.label(for="format") Формат
        .row-center
          select(name="format")
            option(value="") будь-який
            option(value="квадратний") квадратний
            option(value="горизонтальний") горизонтальний
            option(value="вертикальний") вертикальний
          span &#8628

      .form-box
        label.label(for="artist_id") Художник
        .row-center
          select(name="artist_id")
            option(value="") будь-який
            each item in artists
              if item.number_of_pictures > 0
                option(value=`${item._id}`)= item.name
          span &#8628

      .form-box
        label.label Теги
        .tags
          for item in tags 
            if item.number_of_pictures > 0
              label.checkbox-label(for=`${item._id}`) 
                input.checkbox(type='checkbox' name='tag_ids' id=`${item._id}` value=`${item._id}`)
                span= item.name

      .margin-top
      p.desc Впорядкування:
      .form-box
        label.label(for="sort") За
        .row-center
          select(name="sort")
            option(value="adding_date") датою додавання &#8599
            option(value="-adding_date") датою додавання &#8600
            option(value="price") ціною &#8599
            option(value="-price") ціною &#8600
            option(value="name") назвою &#8599
            option(value="-name") назвою &#8600
          span &#8628

      .margin-top
      input.btn.accent(type='submit' value='Застосувати') 